<!doctype HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <!-- After this page loads, the title of the dialog box is set to  -->
    <!-- the title of the web page. -->
    <title>About [!output SAFE_PROJECT_NAME]</title>
    <script type="text/javascript">
      // Called after this page loads.
      // Return the desired width and height in pixels as decimal values.
      function GetDisplayProperties() {
        var props;
        props = "300 120";
        return props;
      }
    </script>
  </head>
  <body>
    <div align=center>
      <bold>About [!output SAFE_PROJECT_NAME]</bold> <br><br>
      Copyright 2017 Savvius, Inc.<br>
      Version 1.0.0.0<br>
      All Rights Reserved.<br>
    </div>
  </body>
</html>
