<!doctype HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <style>
    body, input, label {
      font-family: verdana,arial,helvetica,sans-serif;
      font-size: 8pt;
    }

    .info-div {
      display: table;
      min-width: 63em;
      max-width: 63em;
    }

    .info-left {
      display: table-cell;
      width: 35%;
      padding: 1em;
      border-width: 0.1em;
      border-style: solid;
    }

    .info-right {
      display: table-cell;
      width: 65%;
      padding: 1em;
      border-width: 0.1em;
      border-style: solid;
    }

    .info-label {
      display: inline-block;
      vertical-align: baseline;
      width: 8em;
      text-align: right;
    }

    .info-input {
      display: inline;
      vertical-align: baseline;
      width: 28em;
    }
[!if NOTIFY_CODEEXAMPLES]

    .case-div {
      display: table;
      vertical-align: top;
      border-width: 0.1em;
      border-style: solid;
      min-width: 62.6em;
      max-width: 62.6em;
    }

    .case-left {
      display: table-cell;
      vertical-align: top;
      width: 50%;
      padding: 1em;
    }

    .case-right {
      display: table-cell;
      width: 50%;
      padding: 1em;
    }

    .case-label {
      display: inline-block;
      vertical-align: baseline;
      width: 4em;
      text-align: left;
    }

    .case-input {
      display: inline;
      vertical-align: baseline;
    }

    .note-label {
      display: inline-block;
      vertical-align: top;
      width: 4em;
      text-align: left;
    }

    .note-input {
      display: inline;
      vertical-align: baseline;
    }

    .encode-label {
      vertical-align: middle;
    }

    .encode-checkbox {
      vertical-align: middle;
    }

    .message-div {
      min-width: 63em;
      max-width: 63em;
    }

    .message-label {
      display: inline-block;
      vertical-align: baseline;
      width: 6em;
      text-align: right;
    }

    .message-input {
      display: inline;
      vertical-align: baseline;
      width: 53em;
    }

    .command-div {
      min-width: 63em;
      max-width: 63em;
    }

    .browse-div {
      min-width: 63em;
      max-width: 63em;
    }

    .path-label {
      display: inline-block;
      vertical-align: baseline;
      width: 6em;
      text-align: right;
    }

    .path-input {
      display: inline;
      vertical-align: baseline;
      width: 53em;
    }

    .browse-label {
      vertical-align: middle;
    }

    .browse-checkbox {
      vertical-align: middle;
    }
[!endif]
  </style>
  <!-- After this page loads, the title of the dialog box is set to  -->
  <!-- the title of the web page by SendDisplayProperties. -->
  <title>[!output SAFE_PROJECT_NAME]</title>
  <script type="text/javascript">
    // Options XML Functions - very simplistic XML Parser.
    // Get the XML's Preamble.
    function xmlGetPreamble(xml) {
      var begin = xml.indexOf('<?');
      if (begin == -1) return '';

      var end = xml.indexOf('?>', (begin + 2));
      if (end == -1) return '';

      return xml.substring(begin, (end + 2));
    }

    // Return the Tag of the element provided.
    // Returns 'tag' for the element <tag>value</tag>
    function xmlGetTag(xml) {
      var begin = xml.indexOf('<');
      if (begin == -1) return '';
      begin++;

      var end = xml.indexOf('>', begin);
      if (end == -1) return '';

      var space = xml.indexOf(' ', begin);
      if (space > 0 && space < end) end = space;

      return xml.substring(begin, end);
    }

    // Return the value of an attribute of a element.
    // Returns 'value' when attrib is 'v' for element <tag v='value />
    function xmlGetAttribute(xml, attrib) {
      var begin = xml.indexOf(' ');
      if (begin == -1) return '';
      begin++;

      var end = xml.indexOf('>');
      if (end < 0) return '';

      while (begin < end) {
        var sep = xml.indexOf('=', begin);
        if (sep == -1) return '';

        var token = xml.substring(begin, sep);
        var next = xml.indexOf('"', sep + 2);
        if (next == -1) return '';
        if (token == attrib) {
          // Don't include the double-quotes.
          return xml.substring(sep + 2, next);
        }
        begin = next + 2;
      }
      return '';
    }

    // Return the value of a element.
    // Returns 'value' for the element <tag>value</tag>
    function xmlGetValue(xml, tag, opt) {
      // opt is used to iterate through a list of tags with the same name.
      // var opt = {'offset' : 0}
      // var value1 = xmlGetValue(xml, 'item', opt)
      // var value2 = xmlGetValue(xml, 'item', opt)
      var offset = (typeof opt == 'undefined') ? 0 : opt['offset'];

      var begin = xml.indexOf('<' + tag + '>', offset);
      if (begin == -1) {
        begin = xml.indexOf('<' + tag + ' ', offset);
        if (begin == -1) return '';
      }
      begin++;

      begin = xml.indexOf('>', begin);
      if (begin == -1) return '';
      begin++;

      var tagEnd = '</' + tag;
      end = xml.indexOf(tagEnd, begin);
      if (end == -1) return '';

      if (typeof opt != 'undefined') opt['offset'] = xml.indexOf('>', end);
      return xml.substring(begin, end);
    }

    // Returns the element with Tag 'tag'.
    // Returns '<tag>value</tag> for xml <root><tag>value</tag></root>
    function xmlGetElement(xml, tag, opt) {
      var offset = (typeof opt == 'undefined') ? 0 : opt['offset'];

      var begin = xml.indexOf('<' + tag + '>', offset);
      if (begin == -1) {
        begin = xml.indexOf('<' + tag + ' ', offset);
        if (begin == -1) {
          if (typeof opt != 'undefined') opt['offset'] = -1;
          return '';
        }
      }

      var tagEnd = '</' + tag + '>';
      end = xml.indexOf(tagEnd, begin + 1);
      if (end == -1) {
        if (typeof opt != 'undefined') opt['offset'] = -1;
        return '';
      }
      end += tagEnd.length;

      if (typeof opt != 'undefined') opt['offset'] = end;
      return xml.substring(begin, end);
    }

    // Returns the text of the xml with the escape sequences replaced
    // with their character equivients.
    // Returns <tag>value&value</tag> for <tag>value&amp;value</tag>
    function xmlEscape(xml) {
      xml = xml.split('&quot;').join('\"');
      xml = xml.split('&apos;').join('\'');
      xml = xml.split('&lt;').join('<');
      xml = xml.split('&gt;').join('>');
      xml = xml.split('&amp;').join('&');
      xml = xml.split('&#0009;').join('\t');
      xml = xml.split('&#x0009;').join('\t');
      xml = xml.split('&#0010;').join('\n');
      xml = xml.split('&#x000a;').join('\n');
      xml = xml.split('&#x000A;').join('\n');
      xml = xml.split('&#0013;').join('\r');
      xml = xml.split('&#x000d;').join('\r');
      xml = xml.split('&#x000D;').join('\r');
      return xml;
    }
  </script>
  <script type="text/javascript">
    // Local functions.

    // The documents OnLoad action.
    // Optional
    function DoOnLoad() {
      DoSendDisplayProperties();
      DoGetEngineInfo();
      DoGetContextId();
[!if NOTIFY_CODEEXAMPLES]
      SendGetOptions();
[!endif]
    }

    // Return unsigned integer with flags:
    //   0x0002 : Hide the 'Show Hidden' control.
    //   0x0004 : Initially show hidden files.
    //   0x0008 : Show the files pane. User must select a file.
    // Optional - Remote Browser
    function GetRemoteBrowserFlags() {
      // If the Path has a file name, then set show files.
      var oForm = document.forms['browse_form'];

      var flags = 0;
      if (oForm.elements['hidehiddenctrl'].checked) {
        flags = flags | 0x02;
      }
      if (oForm.elements['showhiddenfiles'].checked) {
        flags = flags | 0x04;
      }
      if (oForm.elements['showfiles'].checked) {
        flags = flags | 0x08;
      }
      flags = flags | 0x10;
      return flags;
    }
[!if NOTIFY_CODEEXAMPLES]

    // Example Code
    // Called by PutMessageResponse() with the response to a GetOptions message.
    // The sampel code of a Wizard created plugin will respond with the options (setting)
    // of this instance of the plugin on the engine.
    // Optional
    function ProcessGetOptions(xml) {
      // Preamble
      var pre = xmlGetPreamble(xml);
      var root = xml.substring(pre.length);
      var options = xmlGetElement(root, 'Options');

      // Case elements
      var caseIndex = 1;
      var optCase = { 'offset': 0 }
      while (optCase['offset'] >= 0) {
        var kase = xmlGetElement(options, 'Case', optCase);
        if (optCase['offset'] >= 0) {
          var id = 'casename' + caseIndex;
          var value = xmlGetValue(kase, 'Case');
          document.getElementById(id).value = value;
          caseIndex++;
        }
      }
      // Notes element
      document.getElementById('casenotes').value = xmlGetValue(options, 'Notes');
    }

    // Example Code
    // Called by PutMessageResponse() with the response to a Tab message.
    // The sampel code of a Wizard created plugin will respond with the reverse of the
    // text in the plugin message.
    // Optional
    function ProcessTabMessage(xml) {
      // Message node: Message
      var valRoot = xmlGetValue(xml, xmlGetTag(xml));
      var valMessage = xmlGetValue(valRoot, xmlGetTag(valRoot));
      document.getElementById('msg_response').value = valMessage;
    }

    // Example Code
    // Send a message to the plugin on the engine to return the options (settings) for this
    // capture.
    // Optional
    function SendGetOptions() {
      var msg = '<GetOptions />';

      DoSendMessage(msg);
    }

    // Example Code
    // Send a message to the plugin on the engine.
    //   The content of the message must be text only.
    //   The transport between the 'here' and the plugin does not interpret or inspect
    //     the contents of the message. Use window.btoa() to send binary data.
    function SendTabMessage() {
      var msg =
        '<Tab>' +
          '<Message>' +
            document.getElementById('msg_message').value +
          '</Message>' +
        '</Tab>';

      DoSendMessage(msg);
    }
[!endif]

    // Called by DoGetEngineInfo() with the Engine Information in XML.
    // Optional
    function SetEngineInfo(xml) {
      // Preamble
      var pre = xmlGetPreamble(xml);
      var root = xml.substring(pre.length);

      // Root node: engineinfo
      var tagRoot = xmlGetTag(root);
      var valRoot = xmlGetValue(root, tagRoot);

      var valName = xmlGetValue(valRoot, 'name');
      document.getElementById('enginename').value = xmlEscape(valName);

      var valAddress = xmlGetValue(valRoot, 'address');
      var valPort = xmlGetValue(valRoot, 'port');
      document.getElementById('engineaddress').value = valAddress + ':' + valPort;

      var valAuth = xmlGetValue(valRoot, 'auth');
      var valDomain = xmlGetValue(valRoot, 'domain');
      var valUser = xmlGetValue(valRoot, 'user');
      document.getElementById('engineuser').value = valDomain + '\\' + valUser + ' (' + valAuth + ')';

      var valType = xmlGetValue(valRoot, 'enginetype');
      document.getElementById('enginetype').value = xmlEscape(valType);

      var valOS = xmlGetValue(valRoot, 'operatingsystem');
      document.getElementById('engineos').value = xmlEscape(valOS);

      var valFolder = xmlGetValue(valRoot, 'datafolder');
      document.getElementById('enginefolder').value = xmlEscape(valFolder);
    }
  </script>
  <script type="text/javascript">
    // Functions that issue commands to the browser.

[!if NOTIFY_CODEEXAMPLES]
    // Send a command to Peek.
    //   The content of the command must be text only.
    function DoSendCommand() {
      var msg = document.getElementById('cmd-command').value;

      window.cefQuery({
        request: "SendCommand:" + msg,
        onSuccess: function (response) { },
        onFailure: function (error_code, error_message) { }
      });
    }

[!endif]
    // Send a request to get the Capture Context Id.
    // Optional
    function DoGetContextId() {
      var msg = "";

      window.cefQuery({
        request: "GetContextId:" + msg,
        onSuccess: function (response) {
          document.getElementById('captureid').value = response;
        },
        onFailure: function (error_code, error_message) { }
      });
    }

    // Send a request to get the engine info.
    // Optional
    function DoGetEngineInfo() {
      var msg = "";

      window.cefQuery({
        request: "GetEngineInfo:" + msg,
        onSuccess: function (response) {
          SetEngineInfo(response);
        },
        onFailure: function (error_code, error_message) { }
      });
    }

    // Send a request to get the contents of a remote file.
    //   Text only.
    //   msg is the name of the file to retrieve.
    //   response is the result of making the request.
    //   PutGetFileComplete() will be called with the contents of the file.
    // Optional - Remote Browser
    function DoGetRemoteFile() {
[!if NOTIFY_CODEEXAMPLES]
      var msg = document.getElementById('path').value;
[!else]
      var msg = ''; // Set the file name.
[!endif]

      window.cefQuery({
        request: "GetRemoteFile:" + msg,
        onSuccess: function (response) {
[!if NOTIFY_CODEEXAMPLES]
          document.getElementById('filetext').value = response;
[!else]
          // Process the response.
[!endif]
        },
        onFailure: function (error_code, error_message) { }
      });
    }

    // Send a request to display the Remote File Browser.
    //   msg is the path that the browser should open to.
    //   response the path the user selected.
    // Optional - Remote Browser
    function DoRemoteFileBrowser() {
      var flags = GetRemoteBrowserFlags();
[!if NOTIFY_CODEEXAMPLES]
      var path = document.getElementById('path').value;
[!else]
      var path = ''; // Set the path.
[!endif]
      var msg = flags.toString() + ' ' + path;

      window.cefQuery({
        request: "RemoteFileBrowser:" + msg,
        onSuccess: function (response) {
[!if NOTIFY_CODEEXAMPLES]
          document.getElementById('path').value = response;
[!else]
                    // Process the response.
[!endif]
        },
        onFailure: function (error_code, error_message) { }
      });
    }

    // Send a message to the plugin on the engine.
    //   The content of the message must be text only.
    //   The transport between the 'here' and the plugin does not interpret or inspect
    //     the contents of the message. Use window.btoa() to send binary data.
    // The response from the plugin is received by PutMessageResponse().
    // Optional - Plugin Message
    function DoSendMessage(msg) {
      window.cefQuery({
        request: "SendMessage:" + msg,
        onSuccess: function (response) { },
        onFailure: function (error_code, error_message) { }
      });
    }

    // Send the Display Properties to the browser.
    //   Display Properties are the desired width and height of the browser window,
    //   and the title of the window.
    // Optional
    function DoSendDisplayProperties() {
      window.cefQuery({
        request: "SendDisplayProperties:640 800 " + document.title,
        onSuccess: function (response) { },
        onFailure: function (error_code, error_message) { }
      });
    }

    // Send a request to send a file to the remote syste.
    //   Text only.
    //   path is the fully qualified path of the file.
    //   content is the new contents of the file.
    // Optional - Remote Browser
    function DoSendLocalFile() {
[!if NOTIFY_CODEEXAMPLES]
      var path = document.getElementById('path').value;
      var filetext = document.getElementById('filetext').value;
      var content;
      if (document.getElementById('pcfile').checked) {
        content = filetext.replace(/\n/g, '\r\n');
      }
      else {
        content = filetext;
      }
[!else]
      var path = '';     // Set the path.
      var content = '';  // Set the content for PC vs non-PC.
[!endif]
      var msg = path + '\n' + content;

      window.cefQuery({
        request: "SendLocalFile:" + msg,
        onSuccess: function (response) { },
        onFailure: function (error_code, error_message) { }
      });
    }
  </script>
  <script type="text/javascript">
    // Functions called by the browser.
    // The browser Puts information into the browser.
    // Do not modify the names of these functions.

    // Called by the browser with the response from a SendCommand.
    // Optional - Peek Commands
    // Do not modify this function name.
    function PutCommandResponse(response) {
      // Process the response.
    }

    // Called by the browser after a get remote file transfer has been completed.
    //   inContent : the base-64 encoded Unicode String contents of the file retrieved.
    // Text retrieved from an Cef Edit Control will have '\r' characters removed.
    //   Create a project with Example Code enabled to see an example of detecting
    //   and re-inserting '\r' characters into Windows text files, but not
    //   inserting them into Linux text files.
    // Optional - Remote Browser
    // Do not modify this function name.
    function PutGetFileComplete(inContent) {
      var content = window.atob(inContent);
[!if NOTIFY_CODEEXAMPLES]
      document.getElementById('filetext').value = content;
      document.getElementById('pcfile').checked = content.match(/\r/g);
[!else]
      // Process the file contents.
[!endif]
    }

    // Called by the browser with information about the media type of the adapter, encoded
    // in Jason.
    // Optional
    // Do not modify this function name.
    function PutMediaInfo(media_info) {
      // Process the Media Info
      // Ethernet: {"media_type":0,"media_subtype":0}
    }

    // Called by the browser with the plugin's response to the message.
    // The response is text and encoded in XML from Plugin Wizard generated plugins.
    // Optional - Plugin Messages.
    // Do not modify this function name.
    function PutMessageResponse(xml) {
      // Root node: Tag
      var tagRoot = xmlGetTag(xml);
      var valRoot = xmlGetValue(xml, tagRoot);
[!if NOTIFY_CODEEXAMPLES]

      if (tagRoot == 'GetOptions') {
        ProcessGetOptions(xml);
      }
      else if (tagRoot == 'Tab') {
        ProcessTabMessage(xml);
      }
[!endif]
    }

    // Called after send local file transfer has been completed.
    //   inResponse : The result code: 0 = Success..
    // Optional - Remote Browser
    // Do not modify this function name.
    function PutSendFileComplete(inResponse) {
      var result = parseInt(inResponse);
    }
  </script>
</head>
<body onload="DoOnLoad()">
  <div class="info-div">
    <div class="info-left" id="about" style="text-align:center">
      <b>[!output SAFE_PROJECT_NAME] Capture Tab</b><br><br>
      Copyright 2017 Savvius, Inc.<br>
      Version 1.0.0.0<br>
      All Rights Reserved.<br>
    </div>
    <div>
      &nbsp;
    </div>
    <div class="info-right" id="info">
      <form>
        <label class="info-label" for="enginename">Engine Name:</label>
        <input class="info-input" type="text" id="enginename" readonly />
        <label class="info-label" for="engineaddress">Address:</label>
        <input class="info-input" type="text" id="engineaddress" readonly />
        <label class="info-label" for="engineuser">User:</label>
        <input class="info-input" type="text" id="engineuser" readonly />
        <label class="info-label" for="enginetype">Type:</label>
        <input class="info-input" type="text" id="enginetype" readonly />
        <label class="info-label" for="engineos">OS:</label>
        <input class="info-input" type="text" id="engineos" readonly />
        <label class="info-label" for="enginefolder">Folder:</label>
        <input class="info-input" type="text" id="enginefolder" readonly />
        <br><br>
        <label class="info-label" for="captureid">Capture Id:</label>
        <input class="info-input" type="text" id="captureid" readonly />
      </form>
    </div>
    &nbsp;<br>
  </div>
[!if NOTIFY_CODEEXAMPLES]
  <br>
  <div class="case-div">
    <div class="case-left">
      <form id="prefs_form" name="preferences" action="">
        <fieldset style="border:0">
          <label class="case-label" for="casename1">Case 1:</label>
          <input class="case-input" type="text" id="casename1" name="casename1" size="30" />
          <label class="case-label" for="casename2">Case 2:</label>
          <input class="case-input" type="text" id="casename2" name="casename2" size="30" />
          <label class="case-label" for="casename3">Case 3:</label>
          <input class="case-input" type="text" id="casename3" name="casename3" size="30" />
      </fieldset>
      </form>
      <a href="javascript:SendGetOptions();">Refresh</a>
    </div>
    <div>
      &nbsp;<br>
    </div>
    <div class="case-right">
      <label class="note-label" for="casenotes">Notes:</label>
      <textarea id="casenotes" name="casenotes" cols="30" rows="4"></textarea>
    </div>
  </div>
  <br>
  <div class="message-div">
    <form id="message_form" action="">
      <fieldset>
        <label class="message-label" for="msg_message">Message:</label>
        <input class="message-input" type="text" id="msg_message" name="message" size="100" value="" />
        <label class="message-label">Response:</label>
        <input class="message-input" type="text" id="msg_response" name="response" size="100" value="" />
        <a href="javascript:SendTabMessage();">Message</a>
      </fieldset>
    </form>
    <br>
  </div>
  <div class="command-div">
    <form id="command_form" action="">
      <fieldset>
        <span>
          <input type="radio" id="select-related" name="command-type" value="selectrelated" checked> Select Related
          &nbsp;&nbsp;&nbsp;
          <input type="radio" id="forensic-search" name="command-type" value="forensicsearch"> Forensic Search
          &nbsp;&nbsp;&nbsp;
          <input type="radio" id="display-message" name="command-type" value="displaymessage"> Display Message
          <br>
        </span>
        <input class="command-command" type="text" id="cmd-command" name="cmd-command" size="100" />
        <a href="javascript:DoSendCommand();">Command</a>
      </fieldset>
    </form>
    <br>
  </div>
  <div class="browse-div">
    <form id="browse_form" name="browser" action="">
      <fieldset>
        <span>
          <label class="path-label" for="path">Path:</label>
          <input class="path-input" type="text" id="path" name="path" />
        </span>
        <span>
          <input class="browse-checkbox" type="checkbox" id="showfiles" name="showfiles" checked>
          <label class="browse-label" for="showfiles">Show Files</label>
          &nbsp;&nbsp;
          <input class="browse-checkbox" type="checkbox" id="showhiddenfiles" name="showhiddenfiles">
          <label class="browse-label" for="showhiddenfiles">Show hidden files</label>
          &nbsp;&nbsp;
          <input class="browse-checkbox" type="checkbox" id="hidehiddenctrl" name="hidehiddenctrl">
          <label class="browse-label" for="hidehiddenctrl">Hide 'Hidden Files' control</label>
        </span>
        <br>
        <textarea id="filetext" name="filetext" cols="85" rows="10"></textarea>
        <a href="javascript:DoRemoteFileBrowser();">Browse</a>
        &nbsp;&nbsp;
        <a href="javascript:DoGetRemoteFile();">Get File</a>
        &nbsp;&nbsp;
        <a href="javascript:DoSendLocalFile();">Send File</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input class="browse-checkbox" type="checkbox" id="pcfile" name="pcfile">
        <label class="browse-label" for="pcfile">PC File Format</label>
      </fieldset>
    </form>
  </div>
[!endif]
</body>
</html>
